oracle.url=jdbc:oracle:thin:@localhost:1521:orcl
oracle.driver=oracle.jdbc.driver.OracleDriver
oracle.login=lubm100
oracle.password=pass

mysql.url=jdbc:mysql://localhost:3306/exp
mysql.driver=
mysql.login=
mysql.password=

experimental.database.type=mysql

experimental.queries.input.filename=queries.input

experimental.occurence.number=5