oracle.url=jdbc:oracle:thin:@localhost:1521:orcl
oracle.driver=oracle.jdbc.driver.OracleDriver
oracle.login=lubm100
oracle.password=pass

mysql.url=jdbc:mysql://localhost:3306/exp
mysql.driver=com.mysql.jdbc.Driver
mysql.login=root
mysql.password=password

postgresql.url=jdbc:postgresql://localhost:5432/postgres
postgresql.driver=org.postgresql.Driver
postgresql.login=liasidd
postgresql.password=psql

experimental.database.type=postgresql

experimental.queries.input.filename=queries.input

experimental.occurence.number=1